{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Dave's To-Do App</h1>
    <p class="lead">Dave's new to-do list</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
          {% for todo in todos %}
            {{todo.id}} - {{todo.title}}
            <br>
          {% endfor %}

        <form action="/add-todo" method="post">
            <div class="form-example">
              <label for="name">Enter your todo name: </label>
              <input type="text" name="name" id="name" required>
            </div>
            <div class="form-example">
                <button class="btn btn-primary" type="submit">submit todo</button>
            </div>
        </form>
      </ul>
    </div>
  </div>
{% endblock %}