{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Dave's To-Do App</h1>
    <p class="lead">Dave's new to-do list</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add new items</h2>
      <form method="post" action="/additem">
        <input type="text" name="newitem"/>
        <button class="btn btn-primary" type="submit">Add Item</button>
      </form>
      <br />
      <ul class="list-group mb-4">
        <table>
          <tr><th>Title</th><th>Status</th></tr>
          {% for item in items %}
          <tr><td>{{ item.name }}</td><td>{{ item.status }}</td><td><form method="post" action="/completeitem" name="itemid">
            <button class="btn btn-primary" type="submit">Complete Status</button>
            <input type = "hidden" value="{{ item.id }}" name="itemid"></form></td></tr>
          {% endfor %}
        </table>
      </ul>
    </div>
  </div>
{% endblock %}